body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
  width: 40%;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  background-color: #e6d5b8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.box {
  margin: 20px;
}

input[type="text"] {
  border: 2px solid #e6739f;
  border-radius: 4px;
}
